<div class= "container">
    <h1 class="col-10 my-3 mx-auto">Summary of NLRB Decisions for Week of December 21 - 24, 2020</h1>
    <div class="border p-2 rounded col-10 my-3 mx-auto">
        <p>Triumfo, Inc. (28-CA-222740; 370 NLRB No. 61) Las Vegas, NV, December 21, 2020.</p>
        <p>The Board adopted the Administrative Law Judge’s conclusions that the Respondent violated Section 8(a)(5) and
            (1) by subcontracting work in violation of the collective-bargaining agreement, refusing to utilize the
            hiring hall operated by the Union as required by the agreement, failing to remit required contributions to
            various pension, welfare, and benefit funds on behalf of employees, and failing to provide the Union with
            requested information relevant to its duties as bargaining representative.</p>
        <p>Charge filed by International Brotherhood of Teamsters, Local 631, a/w the International Brotherhood of
            Teamsters. Administrative Law Judge Mara-Louise Anzalone issued her decision on January 17, 2020.
            Chairman Ring and Members Kaplan and Emanuel participated.</p>
    </div>
    <div class="border p-2 rounded col-10 my-3 mx-auto">
        <p>Charter Electrical Experts, LLC d/b/a Charter Electric (12-CA-258405; 370 NLRB No. 60) Apollo Beach,
            FL, December 22, 2020.</p>
        <p>The Board granted the General Counsel’s Motion for Default Judgment based on the Respondent’s failure to file
            an answer to the complaint. The Board found that the Respondent violated Section 8(a)(3) and (1) by
            discharging an employee because of his union membership, and violated Section 8(a)(5) and (1) by failing to
            continue in effect all terms and conditions of the collective-bargaining agreements, failing to honor the
            terms of use of the work referral procedure, and bypassing the Union to deal directly with unit employees by
            soliciting employees to enter into individual employment agreements.</p>
        <p>Charge filed by International Brotherhood of Electrical Workers, Local Union 915, AFL–CIO. Chairman Ring and
            Members Kaplan and McFerran participated.</p>
    </div>
    <div class="border p-2 rounded col-10 my-3 mx-auto">
        <p>Unpublished Board Decisions in Representation and Unfair Labor Practice Cases</p>
        <p>R Cases</p>
        <p>No Unpublished R Cases Issued.</p>
        <p>C Cases</p>
        <p>No Unpublished C Cases Issued.</p>
    </div>
    <div class="border p-2 rounded col-10 my-3 mx-auto">
        <p>Appellate Court Decisions</p>
        <p>Nob Hill General Stores, Inc., Board Case No. 20-CA-209431 (reported at 368 NLRB No. 63) (9th Cir. decided
            December 24, 2020).</p>
        <p>In an unpublished memorandum decision, the Court upheld the Board’s finding that the retail-store employer
            violated Section 8(a)(5) and (a)(1) by refusing to provide requested information about its hiring and
            transfer practices for new stores which, the Court agreed, was potentially relevant to the Union’s
            administration of the collective bargaining agreement. Although the parties’ agreement was not
            applicable to new stores during the fifteen days after opening, the requested information was relevant to
            contractual provisions covering current employees, such as the section governing transfers. The Court
            explained: That the issues here involve changes resulting from the new store does not necessarily mean
            that applying those provisions to current employees is equivalent to applying the CBA to the new store.”</p>
        <p>The Court’s memorandum decision may be found here.</p>
    </div>
    <div class="border p-2 rounded col-10 my-3 mx-auto">
        <p>Administrative Law Judge Decisions</p>
        <p>Healthy Minds, Inc. (15-CA-231767; JD-54-20) Bastrop, LA. Administrative Law Judge Michael A.
            Rosas issued his decision on December 21, 2020. Charge filed by an individual.</p>
    </div>
</div>